@use 'variables' as *;

footer{
    background-color: $secondary-color;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a{
        width: 12%;
        color: white;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        width: auto;

        &:nth-child(5)
        {
            margin-left: 350px;
        }
    }
}