@use 'variables' as *;


nav {
    background-color: $primary-color;
    height: 6vh;
    
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 5px 350px 5px 350px;
        margin: 0px;

        a{
            color: $secondary-color;
            font-weight: bold;
            text-decoration: none;
            
            &:hover{
                color: $tertiary-color;
            }
        }
        
        .nav-more{
            display:none;
        }

        img{
            width: 60px;
            height: 30px;
        }
    }
}