@use 'variables' as *;

.background{
    background-image: url("https://skolovanje.b-cdn.net/osnove%20veb%20programiranja/2.%20HTML%20layout%2C%20SASS/2.3%20Sass/road_without_car.jpeg");
    background-size: 100% 800px;
}
.sellers{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    padding: 30px 30px 10px 30px;
    
    h1{
        color:$secondary-color;
    }
    
    .locations{
        display: flex;
        justify-content: space-around;
        
        div{
            background-color: $prodajne-lokacije-boja;
            border-radius: 15px;
            padding: 0px 10px;
            font-weight: bold;
            flex: 1;
            max-width: 250px;
            border: 1px solid transparent;
            
            &:hover{
                border: 1px solid $secondary-color;
            }

            h2{
            text-align: center;
            color: $secondary-color;
            }

            p{
                color: $secondary-color;

                span{
                    color: $tertiary-color;
                }
            }
        }
    }
}