nav {
  background-color: #dde0e9;
  height: 6vh;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px 350px 5px 350px;
  margin: 0px;
}
nav ul a {
  color: #003153;
  font-weight: bold;
  text-decoration: none;
}
nav ul a:hover {
  color: #b96d34;
}
nav ul .nav-more {
  display: none;
}
nav ul img {
  width: 60px;
  height: 30px;
}

.background {
  background-image: url("https://skolovanje.b-cdn.net/osnove%20veb%20programiranja/2.%20HTML%20layout%2C%20SASS/2.3%20Sass/road_without_car.jpeg");
  background-size: 100% 800px;
}

.sellers {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  padding: 30px 30px 10px 30px;
}
.sellers h1 {
  color: #003153;
}
.sellers .locations {
  display: flex;
  justify-content: space-around;
}
.sellers .locations div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 0px 10px;
  font-weight: bold;
  flex: 1;
  max-width: 250px;
  border: 1px solid transparent;
}
.sellers .locations div:hover {
  border: 1px solid #003153;
}
.sellers .locations div h2 {
  text-align: center;
  color: #003153;
}
.sellers .locations div p {
  color: #003153;
}
.sellers .locations div p span {
  color: #b96d34;
}

footer {
  background-color: #003153;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer a {
  width: 12%;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: auto;
}
footer a:nth-child(5) {
  margin-left: 350px;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body .cars {
  display: flex;
  height: 87vh;
}
body .cars form {
  width: 60%;
  margin: 35px 0px 20px 15px;
  padding: 20px;
  background-color: #dde0e9;
  border-radius: 15px;
  border: 1px solid #003153;
  color: #003153;
}
body .cars form .dream-car {
  display: flex;
  height: 35vh;
  align-items: center;
}
body .cars form .dream-car img {
  width: 75%;
  height: 40vh;
}
body .cars form .dream-car .description {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  width: 30%;
  flex: 1;
}
body .cars form .dream-car .description h4,
body .cars form .dream-car .description p {
  flex: 1;
  font-size: 27px;
  margin: 0px;
  align-content: center;
  margin: 15px 0px;
}
body .cars form .calculator {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  height: 38vh;
  border-radius: 15px;
  font-weight: bold;
  justify-content: space-between;
  gap: 20px;
}
body .cars form .calculator div {
  height: 7vh;
  width: 40%;
  display: flex;
  flex-direction: column;
}
body .cars form .calculator div:nth-child(5) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
body .cars form .calculator div:nth-child(5) label {
  width: 100%;
}
body .cars form .calculator div:nth-child(5) span {
  width: 18%;
}
body .cars form .calculator div:nth-child(5) #price {
  padding: 0px;
  width: 40%;
  margin-right: 10px;
}
body .cars form .calculator div.car-color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
}
body .cars form .calculator div.car-color label:first-child {
  width: 100%;
}
body .cars form .calculator div.car-color label,
body .cars form .calculator div.car-color input {
  width: 40%;
  margin: 0px;
  height: 2vh;
}
body .cars form .calculator div label {
  margin-bottom: 5px;
}
body .cars form .calculator div select {
  padding: 0px 10px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid #003153;
  font-weight: bold;
}
body .cars form .calculator div input {
  padding: 0px 10px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid #003153;
  font-weight: bold;
}
body .cars form .calculator div input[type=color] {
  width: 100%;
}
body .cars .offers {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  justify-content: space-around;
  margin: 35px 20px 20px 20px;
}
body .cars .offers div {
  background-color: #dde0e9;
  border-radius: 15px;
  border: 1px solid #003153;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  flex: 1;
  max-width: 45%;
}
body .cars .offers div:nth-child(3) {
  max-width: 60vh;
  margin: 10px 0px;
}
body .cars .offers div:nth-child(3) img {
  width: 400px;
  height: 180px;
  margin-top: 0px;
}
body .cars .offers div img {
  height: 120px;
  width: 200px;
}
body .cars .offers div p {
  margin: 0px;
  text-align: center;
  color: #003153;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  header ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
  }
  header ul .nav-more {
    display: flex;
  }
  header ul .nav-hide {
    display: none;
  }
  main .background {
    background-size: 100% 500px;
  }
  main .background .locations div {
    max-width: 17%;
  }
  main .cars {
    flex-direction: column-reverse;
    height: auto;
  }
  main .cars .offers {
    width: auto;
  }
  main .cars .offers div {
    height: auto;
  }
  main .cars .offers div img {
    height: 200px;
    width: 260px;
  }
  main .cars .offers div:nth-child(3) {
    padding: 0px 50px;
  }
  main .cars .offers div:nth-child(3) img {
    height: 250px;
    width: 500px;
  }
  main .cars .offers div p {
    margin-bottom: 5px;
  }
  main .cars form {
    width: auto;
    margin-right: 15px;
  }
  main .cars form div:nth-child(5) {
    width: auto;
  }
  footer {
    height: 8vh;
    flex-wrap: wrap;
    padding: 10px 0px;
  }
  footer a {
    margin: 0px 20px;
  }
  footer a:nth-child(5) {
    margin-left: 0px;
  }
}
@media screen and (max-width: 576px) {
  nav {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  nav:hover {
    height: auto;
  }
  nav:hover ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
  }
  nav:hover ul .nav-hide,
  nav:hover ul :nth-child(4) {
    display: block;
  }
  nav ul {
    padding: 0px;
    justify-content: center;
  }
  nav li.nav-more,
  nav li:nth-child(4) {
    display: none;
  }
  main .background {
    background-size: cover;
  }
  main .background .sellers {
    height: auto;
    padding-top: 0px;
  }
  main .background .sellers .locations {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  main .background .sellers .locations div {
    min-width: 80%;
  }
  main .cars .offers {
    gap: 20px;
    margin: 10px 0px 0px 0px;
  }
  main .cars .offers div:nth-child(3) {
    padding: 0px;
    margin: 0px;
  }
  main .cars .offers div {
    height: auto;
    min-width: 90%;
    margin: 0px;
  }
  main .cars .offers div p {
    font-size: 20px;
  }
  main .cars .offers div img,
  main .cars .offers div #treca {
    width: 400px;
    height: 300px;
  }
  main .cars form {
    margin: 25px;
  }
  main .cars form .dream-car {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  main .cars form .dream-car img {
    height: 300px;
    width: 400px;
  }
  main .cars form .dream-car .description {
    width: auto;
  }
  main .cars form .dream-car .description p,
  main .cars form .dream-car .description h4 {
    font-size: 20px;
    min-width: 400px;
    margin: 0px;
  }
  main .cars form .calculator {
    margin-top: 0px;
    gap: 5px;
    align-content: space-around;
  }
  main .cars form .calculator div {
    max-width: 55%;
  }
  main .cars form .calculator div.car-color {
    align-content: space-between;
    justify-content: space-between;
    min-height: 60px;
  }
  main .cars form .calculator div.car-color label {
    width: fit-content;
  }
  main .cars form .calculator div:nth-child(5) label {
    width: 100%;
  }
  main .cars form .calculator div:nth-child(5) span {
    width: fit-content;
  }
  main .cars form .calculator div:nth-child(7),
  main .cars form .calculator div:nth-child(8) {
    height: fit-content;
  }
  footer {
    flex-direction: column;
    height: auto;
    gap: 2px;
  }
  footer a:nth-child(5) {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
